.signin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;
  background-color: white;
  gap: 40px;
  min-height: calc(100vh - 120px); 
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-logo {
  max-width: 250px; 
  height: auto; /
}

.login-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.form-group {
  margin-bottom: 2rem; 
  width: 100%; /
}

label {
  margin-bottom: 0.5rem; 
  font-weight: bold;
}

input {
  width: 400px; /* Set a fixed width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signin-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signin-button:hover {
  background-color: #45a049; 
}

.signin-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  width: 100%;
  color: white;
}

.footer-link {
  color: #4CAF50;
  text-decoration: none; 
}

.footer-link:hover {
  text-decoration: underline; 
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .signin-container {
    flex-direction: column; /* Stack items vertically */
    padding: 40px 20px; /* Adjust padding */
    justify-content: center; /* Center items vertically */
    min-height: 100vh; /* Ensure full height for centering */
  }

  .signin-logo {
    max-width: 120px;
    margin-bottom: 20px; /* Add margin for spacing */
  }

  input {
    width: 100%; /* Full width for inputs */
  }
}
